# DATA SCIENCE 
PANDAS
We would want to analyse data - functions & methods

In [ ]:
import pandas as pd

The primary data Structure in pandas are series and dataframes
# DataFrames
A 2-dimensional labeled data structure with columns of potentially different types.

In [ ]:
# creating a dataframe (df)
data = {
    'Name' : ['Alice','John'],
    'Age' : [23,40],
    'Gender' : ['F','M'],
    'City' : ['Mombasa', 'Nairobi']
}
df = pd.DataFrame(data)
df

In [ ]:
data2 = [
    {'Name': 'Alicia', 'Age' : 34,'City' : 'Kisumu'},
    {'Name': 'Ben', 'Age' : 67, 'City' : 'Nakuru' }
]
df2 = pd.DataFrame(data2)
df2

ACTUAL DATA 
We can create dataframes from 'actual' data - csv json

In [19]:
df = pd.read_csv('imdbratings.csv')
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [ ]:
df.shape # how many columns how many rows

In [ ]:
df.columns # outputs columns

In [ ]:
df.index

In [ ]:
df.dtypes

In [20]:
df.title

0                             The Shawshank Redemption
1                                        The Godfather
2                               The Godfather: Part II
3                                      The Dark Knight
4                                         Pulp Fiction
                            ...
974                                            Tootsie
975                        Back to the Future Part III
976    Master and Commander: The Far Side of the World
977                                        Poltergeist
978                                        Wall Street
Name: title, Length: 979, dtype: object

# Data Cleaning

In [21]:
df.isnull()

     star_rating  title  content_rating  genre  duration  actors_list
0          False  False           False  False     False        False
1          False  False           False  False     False        False
2          False  False           False  False     False        False
3          False  False           False  False     False        False
4          False  False           False  False     False        False
..           ...    ...             ...    ...       ...          ...
974        False  False           False  False     False        False
975        False  False           False  False     False        False
976        False  False           False  False     False        False
977        False  False           False  False     False        False
978        False  False           False  False     False        False

[979 rows x 6 columns]

In [22]:
df.iloc[0]

star_rating                                                     9.3
title                                      The Shawshank Redemption
content_rating                                                    R
genre                                                         Crime
duration                                                        142
actors_list       [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
Name: 0, dtype: object