In [ ]:
print('Lesson 1');
#python - comments
name = 'Kenya' #variable - storage point
print(name) # what was saved in name
print('name') # name

Lesson 1
Kenya
name

In [ ]:
nu_mber = '12344';

In [ ]:
# Conditional Statements
credit_limit = 10000
application = 2000
## Logical Operators
# == - equal To
# != - note Equal
# < less than
# <= less than or equal to
if application <=  credit_limit : # != not equal To
  print("Loan Them")
else :
  print('Deny Request')

Loan Them

In [ ]:
# Mpesa Transactions
balance = 500
transact = 1000
fuliza = 1000

if transact < balance : # whether balance is sufficient
  print("Transaction Complete")
  print(transact < balance)
elif fuliza+balance > transact : # checks if limit exceeded
  print("Fuliza ")
  print(fuliza+balance > transact)
else:
  print("Insufficient Balance")

Fuliza
True

In [ ]:
#Looping - while, for
#for.
months = ["July", "aug", 30, 189.9]
months

for i in months:
  print(i)

July
aug
30
189.9

In [ ]:
transactions = [10000,4000,6000]
total = 0; # starting
for t in transactions:
  total = total+t
  print(t)

print(total)
customer = " John"

# Concatenation - join variable
print("Hello "+ customer + f" Your Total Is {total}")

10000
4000
6000
20000
Hello  John Your Total Is 20000

In [ ]:
SG36EPHSPM Confirmed. Ksh20.00 sent to RUTH  WAFULA 0713881286 on 3/7/24 at 8:58 AM. New M-PESA balance is Ksh1,502.53. Transaction cost, Ksh0.00. Amount you can transact within the day is 499,965.00. Send Kes200 or more on MPESA for a chance to win 1M WEEKLY with Shine Kenya Mamili!